html{ 
	height: 100% 
}
      
body{ 
	height: 100%; 
	margin: 0; 
	padding: 0;
	
}

      
html, body {
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Lato';	
	
}

#spinner {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background: url(../img/page-loader.gif) 50% 50% no-repeat #fff;
}

#map-canvas{ 

	height: 100%; 
}

#map-wrapper{
	position: relative;
	padding-left: 0px !important;
	padding-right:0px !important;
}

#side-box{
	position:relative;
	top:0;
	left: 0;
	background-color: #fff;
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.side-box-inner{

	padding-top: 120px;
	padding-left: 10px !important;
	padding-right: 10px !important;
}


#nav ul {
	position:absolute;
	top: 25px;
	left: 80px;
	font-size: 16px;
	text-align: center;
}

#nav ul li {
	display: inline;
	padding: 0px 8px 0 8px;
	
}

.dropdown-menu {
	top: 100% !important;
	left: 0px !important;
}

#nav a {
	color: #A23030;
}


#nav div.form-search {
	vertical-align: middle;
	position: relative;
	width: 100%;
}

input.form-control {
	border: 1px solid #222;
	border-radius: 3px;
	height: 32px;
	padding: 3px;
	color: #222;
}

#nav input:focus {
	
	border: 2px solid #A23030;
	outline: 0 !important;
}

#results {
	padding-top:20px;
	
}

.overlay {
	position: absolute;	
	z-index: 99999;
}

.circle {
	
	width: 100px;
	height: 100px;
	border-radius:50px;
	background-color: #fff;
	text-align: center;
	opacity: 0.85;
	transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
	cursor: pointer;
	
}

.circle.logo {
	background-image: url(../img/logo.png);
	background-size: cover;
	top: 30px;
	margin-left:5px;
	
}


.nav-collapse.in {
	width: 120px;
	opacity: 0;
}

.nav-collapse.out {
	transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
	width: 450px;
	opacity: 1;
}

.nav-collapse.out-fixed {
	transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s !important;
	width: 450px;
	opacity: 1;
}


.nav-collapse.out-fixed {
	width: 450px !important;
	opacity: 1;
}

@media (max-width : 768px)
{
	.circle {
		top: 30px;
		width: 100px;
		height: 100px;
		border-radius:50px;
		
		
	}
	
	.circle h1 {
		font-size: 16px !important;
	}
	
	.nav-collapse.in {
	width: 100px;
	opacity: 0;
}

	.nav-collapse.out {
		width: 400px;
		opacity: 1;
	}
}

@media (max-height: 600px){
	
	
	.circle h1 {
		font-size: 16px !important;
	}
	
	.nav-collapse.in {
	width: 100px;
	opacity: 0;
	}

	.nav-collapse.out {
		width: 450px;
		opacity: 1;
	}
}


@media (max-width: 400px){
	.circle {
		top: 30px;
		left: 40px;
		width: 40px;
		height: 40px;
		border-radius:25px;
		
		
	}
	
	.circle h1 {
		font-size: 16px !important;
	}
	
	.nav-collapse.in {
	width: 40px;
	opacity: 0;
	}

	.nav-collapse.out {
		width: 250px;
		opacity: 1;
	}
	
	#nav input {
		top: 10px;
		right: 10px;
		width: 60%;
		height: 20px;

	}
	
	#nav ul li {
		font-size: 12px;
		padding:0;
		
	}
	
	#nav ul {
		top: 10px;
		left: 50px;
		padding: 0 3px 0 3px;
	}
}


.circle-logo:hover {
	opacity: 1;
	transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.go-text {
	color: #0a6500 !important;
}

.peyup {
	color: #8A1212 !important;
}


.btn-route {
	width: 120px;
	border-radius: 2px;
	color: #fff;
	padding-top: 2px;
	padding-bottom: 2px;
}

.btn-ikot {
	background-color: #f1c40f;
	border-color:#f39c12;
}

.btn-ikot:hover,.btn-ikot:focus {
	background-color: #f39c12;
	color: #fff;

}


.btn-toki {
	background-color: #9b59b6;
	border-color: #8e44ad;
	
}

.btn-toki:hover, .btn-toki:focus {
	background-color: #8e44ad;
	color: #fff;

}