html{ 
	height: 100% 
}
      
body{ 
	height: 100%; 
	margin: 0; 
	padding: 0;
	overflow: hidden;
}

      
html, body {
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Lato';	
	
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding: 0px;
}

.hidden {
	display:none;
}

#nav {
	height: 90px;
	width: 100%;
	background: #eee;
	overflow: hidden;
}

#goup-logo {
	background-image: url(../img/logo.png);
	background-size: cover;
	width: 145px;
	height: 90px;
	display: inline-block;
	cursor: pointer;
	margin-left: 10px;
	padding: 0 10px;
	float: left;
}


#map-canvas{ 

	height: 100%; 
}
#big-wrapper{
	overflow:hidden;
}

#map-wrapper{
	position: relative;
	padding-left: 0px !important;
	padding-right:0px !important;
	display:inline-block;
	margin: 0 auto;
	clear: both;
	width: 100%;
	overflow:hidden;
}

#side-box{
	
	position:relative;
	background-color: #fff;
	margin: 0 auto;
	clear: both;
	display:inline-block;
	overflow-y:auto;
	overflow-x: hidden;
	float: left;
}

.side-box-menu{
	padding-top: 30px;
	padding-left: 0px;
}

.side-box-menu > li {
	list-style: none;
	background-color: #AF3535;
}

.side-box-menu > li > a {
	color: #fff;
}

.side-box-menu > li:hover {
	text-decoration: none;
}
.side-box-header{
	position:relative;
	height: 20%;
}

.menu-button {
	display: inline-block;
	width: 100px;
	background-color: #444;
	text-align: center;
	padding: 10px 3px;
	vertical-align: middle;
	height: 100%;
	
}


#nav ul {
	position:absolute;
	top: 25px;
	left: 80px;
	font-size: 16px;
	text-align: center;
}

#nav ul li {
	display: inline;
	padding: 0px 8px 0 8px;
	
}

.dropdown-menu {
	top: 100% !important;
	left: 0px !important;
}


#nav div.form-search {
	vertical-align: middle;
	position: relative;
	width: 100%;
}

input.form-control {
	border: 1px solid #222;
	border-radius: 3px;
	height: 32px;
	padding: 3px;
	color: #222;
}

#nav input:focus {
	
	outline: 0 !important;
}

#searchForm {
	padding: 12px;
	width: 620px;
	height: 100%;
	display: inline-block;
	overflow: hidden;
}

#searchPlaceName {
	display: inline-block;
	margin-top:5px;
	float: left;
	width: 94%;
	margin-left: 0px;
	margin-right: 0px;
	border-radius: 0px;
	height:30px;
	border-width: 0px;
	padding: 0px 5px;
}

#searchButton {	
	display: inline-block;
	margin-top:5px;
	width: 6%;
	vertical-align: middle;
	border-radius: 0px;
	margin-left: 0px;
	margin-right: 0px;
	height:30px;
	border-width: 0px;
	background-color: #fff;
	color:#3276B1;
}

.styled-select {
	width: 100%;
   	height: 30px;
   	overflow: hidden;
   	background-color: #fff;
   	position: relative;
   	
}

input[placeholder], [placeholder], *[placeholder] {
   color:#777 !important;
}

#categorySelect{
	width: 100%;
	margin-top: 5px;
	padding: 0px 5px;
	background: transparent;	 
	border: 0;
   	border-radius: 0;
	-webkit-appearance: none;
}

.icon-title {
	height: 30px;
	margin-top: 3px;
	vertical-align: middle;
	display:inline-block;
	overflow: hidden;
	padding-left: 3px;
	padding-right: 5px;
	transition: background 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
	border: 0px;
	
}

.icon-title:hover {
	background: #fff;
}

.icon-title > a {
	line-height: 30px;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 5px;
	color: #333 !important;
}

.icon-title > a:hover {
	cursor:pointer;
	text-decoration: none;
}

#menu {
	height: 90px;
	display:inline-block;
	overflow: hidden;
	padding: 12px 5px;
}
.menu-icon {
	width: 30px;
	height: 30px;
	background-size:cover;
	display:inline-block;
	float:left;
	cursor: pointer;
}
.jeepney-toggle-wrapper {
	background-color: #f7f7f7;
	width: 100%;
	height: 35px;
	margin-top: 3px;
	vertical-align: middle;
	display:inline-block;
	overflow: hidden;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	transition: background 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
	border: 0px;
	line-height: 30px;
	
}
.jeepney-toggle-wrapper:hover{
	background-color: #f3f3f3;
}
.jeepney-toggle-wrapper a {
	text-decoration: none;
	cursor: pointer;
}

.jeepney-toggle-wrapper a.fa-angle-down,
.jeepney-toggle-wrapper a.fa-circle{
	text-decoration: none;
	float:right;
	line-height:30px;
	font-size: 20px;
	font-weight:bold;
	cursor: pointer;
	color: #ccc;
}



.visible{
	visibility: visible;
	padding: 10px 0px;
}

.hidden {
	padding: 0px !important;
	visiblity:hidden;
	display:none;
}

.jeepney-and-places {
	background: #f9f9f9;
	color: #111 !important;
	width: 100%;
	padding: 10px 5px;
	margin-bottom: 5px;
	transition: visbility 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.icon-myplaces {
	background-image: url(../img/icon-myplaces.png);
	
	
}

.icon-directions {
	background-image: url(../img/icon-directions.png);
		
}


.icon-help {
	background-image: url(../img/icon-help.png);
		
}

.icon-jeepney {
	background-image: url(../img/icon-jeepney.png);
		
}
#side-box{
	background-image: #fff;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
}

.feature-panel >* {
	
	padding: 5px;
}

#one.feature-panel, #one > .feature-text{
	background: #f8f8f8 0 0 repeat fixed;
	
}

#one > .arrow-text {
	display: block;
	position:absolute;
	bottom: 120px;
	text-align: center;
	width: 100%;
	color: #a7a7a7;
}

#one > .arrow {
	background: url(../img/arrow.png);
	width: 100px;
	height: 100px;
	background-size: cover;
	display: block;
	position:absolute;
	bottom: 5%;
	left: 50%;
	margin-left: -50px;
}

#two.feature-panel{
	background: url(../img/feature-bg2.png) 0 0 no-repeat fixed;
	background-size: contain;
	background-color: #a5f999;

}

#three.feature-panel{
	background: url(../img/feature-bg3.png) 0 0 no-repeat fixed;
	background-size: contain;
	background-color: #fff799;

}

#four.feature-panel{
	background-size: contain;
	background-color: #99bafd;

}


.welcome-panel,.feature-panel{
	width:100%;	
	position: relative;
	transition: all 1s linear;
}


.feature-text{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fff;
	position: absolute;
	width:100%;
	
}

.feature-title {
	color: #A23030;
	font-size: 24px;
	font-weight: 300;
	text-align: center;
}

.feature-tagline {
	font-size: 16px;
	font-weight: 300;
	text-align: center;
}

.feature-button{
	position: absolute;
	padding: 5px;
	font-size: 20px;
	top: 170px;
	left: 20px;
	font-weight: 300;
	background-color: #3276B1;
	color: #fff;
	cursor: pointer;
}

#results,#myPlaces,#jeepneyRoutes {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

#results > * {
	padding: 2px 15px;
	
}

#myPlaces {
	padding-top: 5px;
}
#myPlaces > * {
	padding: 5px 15px;
}

#recentlySearched > * {
	padding: 2px 15px;
	
}
.myplaces-tab {
	overflow: hidden;
	width: 100%;
	display:block;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	margin-bottom: 5px;
}
.myplaces-tab-button {
	width: 48%;
	display:inline-block;
	float:left;
	font-size: 20px;
	margin-right:2px;
	color: #aaa;
	cursor:pointer;
	font-weight: 300;
	
}

.myplaces-tab-button.active{
	color: #A23030;
	font-weight: bold;
}

.myplaces-tab-button:hover {
	color: #A23030;
}

.myplaces-tab-panel {
	display: none;
	padding: 7px 0px;
	width:100%;
}

.myplaces-tab-panel.active{
	display:block;
}

#jeepneyRoutes {
	width: 100%;
	padding: 5px 15px;
	overflow:hidden;
}

.favorite-star {
	color: #d5d5d5;
	
}

.favorite-star.active {
	color: #f1c40f;
}
.favorite-star:hover {
	color: #f1c40f;
	text-decoration: none;
	cursor: pointer;
	
}

.info-window {
	min-width: 200px;
}

.recent-place a{
	
	padding-bottom: 3px;
	color: #888;
}

.recent-place-focus {
	text-decoration: none !important;
	color: #4285F4 !important;
	cursor:pointer;
	
}


.delete-mark {
	float:right;
	visibility: hidden;
	color: #E74C3C;
	cursor:pointer;
}

.trash-can {
	float: right;
	font-size: 20px;
	vertical-align: bottom;
	padding-top: 3px;
	color: #AAA
}

.trash-can:hover {
	color: #222;
}

.map-marker {
	background-size: cover;
	background-image: url("../img/mapmarker.png");
	width: 21px;
	height: 29px;
	display: inline-block;
	color: #000;
	font-size: 12px;
	text-align: center;
	padding-top: 2.5px;
}

.map-marker:hover{
	color: #A23030;
	text-decoration: none;
	cursor: pointer;
}

.results-item {
	
	position:relative;
	width:100%;
	overflow:hidden;
	border-right: 3px solid transparent;
}

.results-item:hover {
	border-right: 3px solid #A22F2F;
}

.marker-label {
	width: 10%;
	float:left;
	display:inline-block;
}

.favorite-star-wrapper {
	width: 5%;
	overflow:hidden;
	display:inline-block;
}

.results-details {
	width:85%;
	float:left;
	overflow:hidden;
	display:inline-block;
}

p.small-note {
	padding-top: 0px;
	padding-bottom: 2px;
	font-size:  11px;
	line-height: 12px;
}

.overlay {
	position: absolute;	
	z-index: 99999;
}

.circle {
	
	width: 120px;
	height: 120px;
	border-radius:50px;
	text-align: center;
	opacity: 0.85;
	transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
	cursor: pointer;
	
}

.nav-logo {
	width: 40px;
	height: 40px;
	background-image: url(../img/logo.png);
	background-size: cover;
	transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
	cursor: pointer;
	margin-left: 50%;
	left: -40px;
	display: inline-block;
	position: absolute;
}

.circle.logo {
	background-image: url(../img/logo.png);
	background-size: cover;
	top: 10px;
	margin-left: 10px;
	
}



.nav-collapse.in {
	width: 120px;
	opacity: 0;
}

.nav-collapse.out {
	transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
	width: 450px;
	opacity: 1;
}

.nav-collapse.out-fixed {
	transition: all 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s !important;
	width: 450px;
	opacity: 1;
}


.nav-collapse.out-fixed {
	width: 450px !important;
	opacity: 1;
}


.circle-logo:hover {
	opacity: 1;
	transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.go-text {
	color: #0a6500 !important;
}

.peyup {
	color: #8A1212 !important;
}


.btn-route {
	border-radius: 2px;
	background-color: #3498db;
	color: #fff;
	padding: 4px;
	
}

.btn-ikot {
	background-color: #f1c40f;
	border-color:#f39c12;
}

.btn-ikot:hover,.btn-ikot:focus {
	background-color: #f39c12;
	color: #fff;

}


.btn-toki {
	background-color: #9b59b6;
	border-color: #8e44ad;
	color: #fff;
	
	
}

.btn-toki:hover, .btn-toki:focus {
	background-color: #8e44ad;
	color: #fff;

}

.btn-katip {
	background-color: #ea6153;
	border-color: #c0392b;
	color: #fff;
	
	
}

.btn-katip:hover, .btn-katip:focus {
	background-color: #c0392b;
	color: #fff;

}

.btn-philcoa {
	background-color: #2ecc71;
	border-color: #27ae60;
	color: #fff;
	
	
}

.btn-philcoa:hover, .btn-philcoa:focus {
	background-color: #27ae60;
	color: #fff;

}